/* 
            NOTES

- MAKE ILLUSTRATIONS
- MAKE ENDING SCREEN?
*/

/* General Styling */
body {
    z-index: 1;
    text-align: center;
    background-color: black;
    color: whitesmoke;
    font-size: 18px;
    font-family: 'Courier New', monospace;
    /* Dark border around text for ease of reading in case of clipping in front of illustration */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 0;
    line-height: 1.3;
}

/* Illustration box in the style of a stamp */
.illustrationBox{
    z-index: -1;
    /* Change this value to adjust the stamp perforation size: */
    --radius: 1vw;
  
    background-image: 
      radial-gradient(
        var(--radius),
        transparent 98%,
        antiquewhite
      ),
      linear-gradient(antiquewhite 0 0);
    background-repeat: 
      round, 
      no-repeat;
    background-position:
      calc(var(--radius) * -1.5) calc(var(--radius) * -1.5),
      50%;
    background-size:
      calc(var(--radius) * 3) calc(var(--radius) * 3),
      calc(100% - var(--radius) * 3) calc(100% - var(--radius) * 3);

    width: 60vw;
    max-width: 60vw;
    min-width: none;
    height: 33.75vw;
    max-height: 60vh;
    min-height: 33.75vw;
    position: absolute;
    inset: 0;
    bottom: 30%;
    margin: auto;
}

.illustrationMargin{
    height: 10%;
}

/* Prevent user from selecting text */
.preventSelect {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Forgotten title page */
a {
    color: whitesmoke;
    text-decoration: none;
    position: absolute;
    display: block;
    font-size: 110px;
    top: 47%;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

/* Indicate that title is clickable with change in brightness */
a:hover {
    filter: opacity(0.5);
}

/* Layout container */
.container {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Story description box */
.descriptionBox {
    position: absolute;
    width: 60vw;
    max-width: 700px;
    height: auto;
    bottom: 10%;
}

/* Dynamic button container */
.optionButtonContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 20px;
    bottom: 2%;
}

/* Option button styling */
.optionButton {
    background-color: black;
    color: white;
    font-family: 'Courier New', monospace;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid white;
    cursor: pointer;
    transition: background 0.3s;
    text-transform: uppercase;
    width: 300px;
    filter: grayscale(1);
}

.optionButton:hover {
    background-color: white;
    color: black;
}

/* Fullscreen button */
.fullscreenButton {
    position: absolute;
    right: 10px;
    top: 14px;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

/* Refresh button */
.refreshButton {
    position: absolute;
    right: 65px;
    top: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

/* Home button */
.homeButton {
    position: absolute;
    right: 120px;
    top: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

/* Indicate that button is clickable with change in brightness */
.fullscreenButton:hover {
    filter: opacity(0.5);
}

.refreshButton:hover {
    filter: opacity(0.5);
}

.homeButton:hover {
    filter: opacity(0.5);
}
